/* BeerListStyles.css */
.beer-list-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .beer-image {
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .beer-name {
    font-weight: bold;
  }
  
  .beer-yeast {
    display: inline;
    color: orange;
  }
  


  /* LoadMoreButtonStyles.css */
.load-more-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .load-more-text {
    margin-right: 8px;
    display: flex;
    align-items: center;
  }
  


  /* CustomTabStyles.css */
.custom-tab-label {
  text-transform: none; /* Disable uppercase transformation */
  font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.custom-tab-label {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.list-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.list {
  width: 70%;
  max-width: 720px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.load-more {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.load-more-text {
  font-size: 14px;
  color: #1976d2;
  display: flex;
  align-items: center;
}
